<div class="spinner" *ngIf="!autores; else divAutores">
  <mat-spinner></mat-spinner>
</div>

<ng-template #divAutores>
  <div class="tabla-container" >
    <h2>Lista de autores</h2>
    <table mat-table [dataSource]="autores" class="mat-elevation-z8">
      <!-- Columna de autores -->
      <ng-container matColumnDef="autores">
        <th mat-header-cell *matHeaderCellDef>Autores</th>
        <td mat-cell *matCellDef="let autor">{{ autor }}</td>
      </ng-container>

      <!-- Columna de Ver obras -->
      <ng-container matColumnDef="verObras">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let autor">
          <button mat-raised-button color="basic" (click)="openDialog(autor)">Ver obras</button>
        </td>

      </ng-container>

      <!-- Definir las columnas que deseas mostrar -->
      <tr mat-header-row *matHeaderRowDef="['autores', 'verObras']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['autores', 'verObras']"></tr>
    </table>
  </div>
</ng-template>